---
import { getCollection } from "astro:content";
import BaseLayout from "../layouts/BaseLayout.astro";
import PostList from "../components/PostList.astro";

const posts = (
  await getCollection("posts", ({ data }) =>
    import.meta.env.PROD ? !data.draft : true
  )
).sort((a, b) => b.data.date.getTime() - a.data.date.getTime());
---

<BaseLayout>
  <header class="header">
    <h1>Jonathan Arthurito Aldi Sinaga</h1>
    <p>大家好! 这是jon's blog！</p>
    <p><a href="https://jonathanarthurito.substack.com/" target="_blank" rel="noopener noreferrer">personal writing → substack</a></p>
  </header>
  <main>
    <PostList posts={posts} />
  </main>
</BaseLayout>
