---
import BaseLayout from "../layouts/BaseLayout.astro";
import PostList from "../components/PostList.astro";
import posts from "../data/posts.json";
---

<BaseLayout>
  <header class="header">
    <h1>Jonathan Arthurito Aldi Sinaga</h1>
    <p>大家好! 这是jon's blog！</p>
  </header>
  <main>
    <PostList posts={posts} />
  </main>
</BaseLayout>
